# Python Strings

Strings
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [1]:
print("Hello")
print('Hello')

Hello
Hello

# Assign String to a Variable
Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [2]:
# Example
a="Hello"
print(a)

Hello

# Multiline Strings
You can assign a multiline string to a variable by using three quotes:

# Example
You can use three double quotes:

In [3]:
a="""My Home town is rishikesh,
currently i live in dehradun,
this is a very beautiful town."""
print(a)

My Home town is rishikesh,
currently i live in dehradun,
this is a very beautiful town.

# Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

# Example
Get the character at position 1 (remember that the first character has the position 0):

In [5]:
a="Hello World"
print(a[1])
print(a[0])

e
H

# Looping Through a String
Since strings are arrays, we can loop through the characters in a string, with a for loop.

# Example
Loop through the letters in the word "banana":

In [8]:
for x in "banana":
    print(x)

b
a
n
a
n
a

# String Length
To get the length of a string, use the len() function.

Example

In [9]:
a="Hello World"
print(len(a))

11

# Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

# Example
Check if "free" is present in the following text:

In [11]:
txt="The best thing in life are free!"
print("free" in txt)

True


# Use it in an if statement:

# Print only if "free" is present:

# txt="The best thing in life are free!"
if "free" in txt:
    print("yes,'free' in present")

# Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

Example
Check if "expensive" is NOT present in the following text:

In [17]:
txt="The Best thing in life are free!"
print("expensive" not in txt)

True

# Use it in an if statement:

Example
print only if "expensive" is NOT present:

In [19]:
txt="The Best thing in life are free"
if "expensive" not in txt:
    print("yes,'expensive 'in not present")

yes,'expensive 'in not present

# Python - Slicing Strings

# Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

# Example
Get the characters from position 2 to position 5 (not included):

In [20]:
b="Hello World!"
print(b[2:5])

llo

# Slice From the Start
By leaving out the start index, the range will start at the first character:

# Example
Get the characters from the start to position 5 (not included):

In [24]:
b="Hello World!"
print(b[:5])

Hello

# Slice To the End
By leaving out the end index, the range will go to the end:

# Example
Get the characters from position 2, and all the way to the end:

In [26]:
b="Hello World!"
print(b[2:])

llo World!

# Negative Indexing
Use negative indexes to start the slice from the end of the string:

# Example
Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [29]:
b="Hello World!"
print(b[-5:-2])

orl

# Python - Modify Strings

# Python has a set of built-in methods that you can use on strings.

# Upper Case
Example
The upper() method returns the string in upper case:

In [32]:
a="Hello World"
print(a)
print(a.upper())

Hello World
HELLO WORLD

# Example
The lower() method returns the string in lower case:

In [33]:
a="Hello World!"
print(a.lower())

hello world!

# Remove Whitespace
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

Example
The strip() method removes any whitespace from the beginning or the end:

In [37]:
a="  Hello, World   "
print(a.strip())

Hello, World

# Replace String
Example
The replace() method replaces a string with another string:

In [38]:
a="Hello World!"
print(a.replace("H","J"))

Jello World!

# Split String
The split() method returns a list where the text between the specified separator becomes the list items.

Example
The split() method splits the string into substrings if it finds instances of the separator:

In [39]:
a="Hello,World!"
print(a.split(","))

['Hello', 'World!']

# Python - String Concatenation
String Concatenation
To concatenate, or combine, two strings you can use the + operator.

# Example
Merge variable a with variable b into variable c:

In [41]:
a="Hello"
b="World"
c=a+b
print(c)

HelloWorld

In [43]:
a="Hello"
b="World"
c=a+" "+b
print(c)

Hello World

# Python - Format - Strings
String Format
As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [45]:
age=36
txt="My name is John, i am" +age
print(txt)

TypeError: can only concatenate str (not "int") to str

# But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

# Example
Use the format() method to insert numbers into strings:

In [52]:
age=36
txt="My Name is JOhn, i am {}"
print(txt.format(age))

My Name is JOhn, i am 36

# The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [53]:
# Example
quantity=3
itemno=567
price=49.95
myorder="I want {} pieces of item {} for dollars"
print(myorder.format(quantity,itemno,price))

I want 3 pieces of item 567 for dollars

# Python - Escape Characters
Escape Character
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

Example
You will get an error if you use double quotes inside a string that is surrounded by double quotes:

In [54]:
txt="we are the so-called "Vikings" from the north"

SyntaxError: invalid syntax (<ipython-input-54-15e8a003dfb8>, line 1)

# To fix this problem, use the escape character \":

In [58]:
txt="we are th so-called \"Vikings\" from the north"  # no error

# Code	Result	Try it
\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

In [61]:
txt='Its\'s alright'
print(txt)

Its's alright

In [62]:
txt="This will insert one \\(blackslash)"
print(txt)

This will insert one \(blackslash)

In [64]:
txt="Hello\nworld"
print(txt)

Hello
world

In [65]:
txt="Hello\tWorld"
print(txt)

Hello	World

In [66]:
# this example erase one character
txt="Hello \bWorld"
print(txt)

Hello World

In [67]:
# A backslash followed by three integers will result in a ocatal value:
txt="\110\145\154\157"
print(txt)

Helo

In [68]:
# A backslash followed by an 'x' and a hex number represent a hex value
txt="\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

# Python - String Methods
String Methods
Python has a set of built-in methods that you can use on strings.

Note: All string methods returns new values. They do not change the original string.

# Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning