In [2]:
mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

# List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

# List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

# Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

Allow Duplicates
Since lists are indexed, lists can have items with the same value:

# Example
Lists allow duplicate values:

In [4]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

# List Length
To determine how many items a list has, use the len() function:

In [5]:
list=["apple","banana","mango"]
print(len(list))

3

# List Items - Data Types
List items can be of any data type:

Example
String, int and boolean data types:

In [6]:
list1=["apple","banana","mango"]
list2=[1,2,3,4]
list3=[True,False,True]
print(type(list1))
print(type(list2))
print(type(list3))

<class 'list'>
<class 'list'>
<class 'list'>

# A list can contain different data types:

Example
A list with strings, integers and boolean values:

In [8]:
list=["abc",34,True,"male"]
print(list)

['abc', 34, True, 'male']

# type()

#type()
From Python's perspective, lists are defined as objects with the data type 'list':

<class 'list'>

Example
What is the data type of a list?

In [9]:
mylist=["apple","banana","mango"]
print(type(mylist))

<class 'list'>

# The list() Constructor
It is also possible to use the list() constructor when creating a new list.

Example
Using the list() constructor to make a List:

In [12]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

TypeError: 'list' object is not callable

# Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered and unindexed. No duplicate members.
Dictionary is a collection which is ordered* and changeable. No duplicate members.

# Python - Access List Items

# Access Items
List items are indexed and you can access them by referring to the index number:

Example
Print the second item of the list:

In [13]:
thislist=["apple","mango","banana"]
print(thislist[1])
# Note: The first item has index 0.

mango

Negative Indexing
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

Example
Print the last item of the list:

In [14]:
thislist=["apple","mango","banana"]
print(thislist[-1])

banana

# Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

Example
Return the third, fourth, and fifth item:

In [21]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5]) #Note: The search will start at index 2 (included) and end at index 5 (not included).
print(thislist[1:2])
print(thislist[1:3])
# Remember that the first item has index 0.
# By leaving out the start value, the range will start at the first item:

['cherry', 'orange', 'kiwi']
['banana']
['banana', 'cherry']

Example
This example returns the items from the beginning to, but NOT including, "kiwi":

In [22]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

Example
This example returns the items from "cherry" to the end:

In [24]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])
# This example returns the items from "cherry" to the end:

['cherry', 'orange', 'kiwi', 'melon', 'mango']

# Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list:

Example
This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

In [25]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

# Check if Item Exists
To determine if a specified item is present in a list use the in keyword:

Example
Check if "apple" is present in the list:

In [26]:
thislist=["apple","banana","mango"]
if "apple" in thislist:
    print("Yes,'apple' is in fruit list")

Yes,'apple' is in fruit list

# Python - Change List Items
Change Item Value
To change the value of a specific item, refer to the index number:

Example
Change the second item:

In [27]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

# Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

Example
Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

In [28]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

Example
Change the second value by replacing it with two new values:

In [29]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

Note: The length of the list will change when the number of items inserted does not match the number of items replaced.

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

Example
Change the second and third value by replacing it with one value:

In [30]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

# Insert Items
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

Example
Insert "watermelon" as the third item:

In [31]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

# Python - Add List Items
Append Items
To add an item to the end of the list, use the append() method:

Example
Using the append() method to append an item:

In [32]:
thislist=["apple","banana","cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

# Insert Items
To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

Example
Insert an item as the second position:

In [33]:
thislist=["apple","banana","cherry"]
thislist.insert(1,"orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [34]:
# Note: As a result of the examples above, the lists will now contain 4 items.

# Extend List
To append elements from another list to the current list, use the extend() method.

Example
Add the elements of tropical to thislist:

In [35]:
thislist=["apple","banana","cherry"]
tropical=["mango","pineapple","papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

# Add Any Iterable
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

Example
Add elements of a tuple to a list:

In [36]:
thislist=["apple","banana","cherry"]
thistuple=("kiwi","orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Python - Remove List Items

# Remove Specified Item
The remove() method removes the specified item.

Example
Remove "banana":

In [37]:
thislist=["apple","banana","cherrey"]
thislist.remove("banana")
print(thislist)

['apple', 'cherrey']

# Remove Specified Index
The pop() method removes the specified index.

Example
Remove the second item:

In [39]:
thislist=["apple","banana","cherry"]
thislist.pop(1)
print(thislist)
#If you do not specify the index, the pop() method removes the last item.

['apple', 'cherrey']

Example
Remove the last item:

In [40]:
thislist=["apple","banana","cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The del keyword also removes the specified index:

Example
Remove the first item:

In [41]:
thislist=["apple","banana","cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely.

Example
Delete the entire list:

In [42]:
thislist=["apple","banana","cherry"]
del thislist

Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

Example
Clear the list content:

In [43]:
thislist=["apple","banana","cherry"]
thislist.clear()
print(thislist)

[]

# Python - Loop Lists
Loop Through a List
You can loop through the list items by using a for loop:

Example
Print all items in the list, one by one:

In [45]:
thislist=["apple","banana","cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

# Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

Example
Print all items by referring to their index number:

In [46]:
thislist=["apple","banana","cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

# Using a While Loop
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

Example
Print all items, using a while loop to go through all the index numbers

In [48]:
thislist=["apple","banana","cherry"]
i=0
while i<len(thislist):
    print(thislist[i])
    i=i+1

apple
banana
cherry

# Looping Using List Comprehension
List Comprehension offers the shortest syntax for looping through lists:

Example
A short hand for loop that will print all items in a list:

In [49]:
thislist=["apple","banana","cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

# Python - List Comprehension
List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [53]:
fruit=["apple","banana","cherry","kiwi","mango"]
newlist=[]
for x in fruit:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [54]:
# With list comprehension you can do all that with only one line of code:

In [55]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

# The Syntax
newlist = [expression for item in iterable if condition == True]
The return value is a new list, leaving the old list unchanged.

Condition
The condition is like a filter that only accepts the items that valuate to True.

Example
Only accept items that are not "apple":

In [56]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[x for x in fruits if x!="apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

The condition if x != "apple"  will return True for all elements other than "apple", making the new list contain all fruits except "apple".

The condition is optional and can be omitted:

In [57]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

# Iterable
The iterable can be any iterable object, like a list, tuple, set etc.

Example
You can use the range() function to create an iterable:

In [58]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Example
Accept only numbers lower than 5:

In [59]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[x for x in range(10) if x<5]
print(newlist)

[0, 1, 2, 3, 4]

Expression
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

Example
Set the values in the new list to upper case:

In [60]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

Example
Set all values in the new list to 'hello':

In [61]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

Example
Return "orange" instead of "banana":

In [62]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[x if x!="banana" else "orange"for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

# Python - Sort Lists
Sort List Alphanumerically
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

# Example
Sort the list alphabetically:

In [63]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [65]:
# Example
# Sort the list numerically:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

# Sort Descending
To sort descending, use the keyword argument reverse = True:

Example
Sort the list descending:

In [66]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [68]:
# Numeric Example
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

# Customize Sort Function
You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

Example
Sort the list based on how close the number is to 50:

In [70]:
def myfunc(n):
    return abs(n -50)
thislist=[100,50,65,82,23]
thislist.sort(key=myfunc)
print(thislist)

[50, 65, 23, 82, 100]

# Case Insensitive Sort
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

Example
Case sensitive sorting can give an unexpected result:

In [71]:
thislist=["banana","orange","kiwi","cherry"]
thislist.sort()
print(thislist)

['banana', 'cherry', 'kiwi', 'orange']

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

Example
Perform a case-insensitive sort of the list:

In [72]:
thislist=["banana","orange","kiwi","cherry"]
thislist.sort(key=str.lower)
print(thislist)

['banana', 'cherry', 'kiwi', 'orange']

# Reverse Order
What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

Example
Reverse the order of the list items:

In [73]:
thislist=["banana","orange","kiwi","cherry"]
thislist.reverse()
print(thislist)

['cherry', 'kiwi', 'orange', 'banana']

#

# Python - Copy Lists
Copy a List
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

Example
Make a copy of a list with the copy() method:

In [74]:
thislist = ["apple", "banana", "cherry"]
mylist=thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Another way to make a copy is to use the built-in method list().

Example
Make a copy of a list with the list() method:

In [80]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

TypeError: 'list' object is not callable

# Python - Join Lists
Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

Example
Join two list:

In [81]:
list1=["a","b","c"]
list2=[1,2,3]
list3=list1+list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

# Example
Append list2 into list1:

In [82]:
list1=["a","b","c"]
list2=[1,2,3]
for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

Or you can use the extend() method, which purpose is to add elements from one list to another list:

Example
Use the extend() method to add list2 at the end of list1:

In [83]:
list1=["a","b","c"]
list2=[1,2,3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]


Python - List Methods
List Methods
Python has a set of built-in methods that you can use on lists.

Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list