# Python Operators
Python Operators
Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

In [1]:
print(10+5)

15

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

# Python Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:

Operator	Name	Example	Try it
+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y

In [6]:
a=5
b=5
print("Addition operator:--" ,a+b)
print("Subtraction Operator:--",a-b)
print("Multiplication Operator:--",a*b)
print("Division Operator:--",a/b)
print("Modules Opertor:--",a%b)
print("Exponentiation Operator:--",a**b)
print("Floor Division:--",a//b)

Addition operator:-- 10
Subtraction Operator:-- 0
Multiplication Operator:-- 25
Division Operator:-- 1.0
Modules Opertor:-- 0
Exponentiation Operator:-- 3125
Floor Division:-- 1

# Python Assignment Operators
Assignment operators are used to assign values to variables:

Operator	Example	Same As	Try it 
 =	x = 5	x = 5	
+=	x += 3	x = x + 3	
-=	x -= 3	x = x - 3	
*=	x *= 3	x = x * 3	
/=	x /= 3	x = x / 3	
%=	x %= 3	x = x % 3	
//=	x //= 3	x = x // 3	
**=	x **= 3	x = x ** 3	
&=	x &= 3	x = x & 3	
|=	x |= 3	x = x | 3	
^=	x ^= 3	x = x ^ 3	
>>=	x >>= 3	x = x >> 3	
<<=	x <<= 3	x = x << 3

In [9]:
# = x = 5, x = 5
x=5
print(x)

5

In [10]:
# +=	x += 3	x = x + 3
x=5
x +=3
print(x)

8

In [15]:
# -=	x -= 3	x = x - 3	
x=5
x-=3  
print(x)

2

In [16]:
# *=	x *= 3	x = x * 3	
x=5
x*=2
print(x)

10

In [17]:
#/=	x /= 3	x = x / 3	
x=10
x/=2
print(x)

5.0

In [19]:
# %=	x %= 3	x = x % 3	
x=10
x%=3
print(x)

1

In [21]:
# //=	x //= 3	x = x // 3
x=5
x//=3
print(x)

1

In [22]:
# **=	x **= 3	x = x ** 3	
x=5
x**=3
print(x)

125

In [23]:
# &=	x &= 3	x = x & 3	
x=5
x&=3
print(x)

1

In [25]:
# |=	x |= 3	x = x | 3
x=5
x|=3
print(x)

7

In [26]:
x=5
x^=3
print(x)

6

In [28]:
x=5
x>>=3
print(x)

0

In [29]:
x=5
x<<=3
print(x)

40

# Python Comparison Operators
Comparison operators are used to compare two values:

Operator	Name	Example	Try it
==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y

In [34]:
# ==	Equal	x == y	
x=5
y=3
print(x==y)
# Return false because 5 is not equal to 3

False

In [35]:
x=5
y=3
print(x!=y)
# returns True because 5 is not equal to 3

True

In [37]:
x=5
y=3
print(x>y)
# returns True because 5 is greater than 3

True

In [38]:
x=5
y=3
print(x<y)
# returns True because 5 is greater than 3

False

In [39]:
x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

True

In [40]:
x = 5
y = 3

print(x <= y)

# returns False because 5 is neither less than or equal to 3

False

# Python Logical Operators
Logical operators are used to combine conditional statements:

Operator	Description	Example	Try it
and 	Returns True if both statements are true	x < 5 and  x < 10	
or	Returns True if one of the statements is true	x < 5 or x < 4	
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

In [1]:
x=5
print(x>3 and x<10)
# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [2]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [3]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

# Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

Operator	Description	Example	Try it
is 	Returns True if both variables are the same object	x is y	
is not	Returns True if both variables are not the same object	x is not y

In [4]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [5]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

# Python Membership Operators
Membership operators are used to test if a sequence is presented in an object:

Operator	Description	Example	Try it
in 	Returns True if a sequence with the specified value is present in the object	x in y	
not in	Returns True if a sequence with the specified value is not present in the object	x not in y

In [7]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [8]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

# Python Bitwise Operators
Bitwise operators are used to compare (binary) numbers:

Operator	Name	Description
& 	AND	Sets each bit to 1 if both bits are 1
|	OR	Sets each bit to 1 if one of two bits is 1
 ^	XOR	Sets each bit to 1 if only one of two bits is 1
~ 	NOT	Inverts all the bits
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off