# Pandas Series

# What is a Series?
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

Example
Create a simple Pandas Series from a list:

In [2]:
import pandas as pd
a=[1,6,4,3]
myvar=pd.Series(a)
print(myvar)

0    1
1    6
2    4
3    3
dtype: int64

# Labels
If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

Example
Return the first value of the Series:

In [3]:
print(myvar[0])

1

# Create Labels
With the index argument, you can name your own labels.

Example
Create you own labels:

In [7]:
import pandas as pd
a=[1,2,3]
myvar=pd.Series(a,index=["x","y","z"])
print(myvar)

x    1
y    2
z    3
dtype: int64

# Example
Return the value of "y":

In [8]:
print(myvar["y"])

2

# Key/Value Objects as Series
You can also use a key/value object, like a dictionary, when creating a Series.

Example
Create a simple Pandas Series from a dictionary:

In [9]:
import pandas as pd
calories={"day1":420,"day2":380,"day3":390}
myvar=pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

Note: The keys of the dictionary become the labels.

To select only some of the items in the dictionary, use the index argument and specify only the items you want to include in the Series.

Example
Create a Series using only data from "day1" and "day2":

In [11]:
import pandas as pd
calories={"day1":420,"day2":380,"day3":390}
myvar=pd.Series(calories,index=["day1","day2"])
print(myvar)

day1    420
day2    380
dtype: int64

# DataFrames
Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

# Example
Create a DataFrame from two Series:

In [13]:
import pandas as pd
data={"calories":[420,380,120],"duration":[50,40,45]}
myvar=pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       120        45