# Pandas - Analyzing DataFrames

# Viewing the Data
One of the most used method for getting a quick overview of the DataFrame, is the head() method.

The head() method returns the headers and a specified number of rows, starting from the top.

Example
Get a quick overview by printing the first 10 rows of the DataFrame:

In [8]:
import pandas as pd
df=pd.read_csv("loan.csv")
print(df)

     Gender Married     Education  ApplicantIncome  LoanAmount  \
0      Male      No      Graduate             5849         NaN
1      Male     Yes      Graduate             4583       128.0
2      Male     Yes      Graduate             3000        66.0
3      Male     Yes  Not Graduate             2583       120.0
4      Male      No      Graduate             6000       141.0
..      ...     ...           ...              ...         ...
609  Female      No      Graduate             2900        71.0
610    Male     Yes      Graduate             4106        40.0
611    Male     Yes      Graduate             8072       253.0
612    Male     Yes      Graduate             7583       187.0
613  Female      No      Graduate             4583       133.0

     Loan_Amount_Term Loan_Status
0               360.0           Y
1               360.0           N
2               360.0           Y
3               360.0           Y
4               360.0           Y
..                ...         ...
609             360.0           Y
610             180.0           Y
611             360.0           Y
612             360.0           Y
613             360.0           N

[614 rows x 7 columns]

In [9]:
print(df.head(2))

  Gender Married Education  ApplicantIncome  LoanAmount  Loan_Amount_Term  \
0   Male      No  Graduate             5849         NaN             360.0
1   Male     Yes  Graduate             4583       128.0             360.0

  Loan_Status
0           Y
1           N

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            601 non-null    object
 1   Married           611 non-null    object
 2   Education         614 non-null    object
 3   ApplicantIncome   614 non-null    int64
 4   LoanAmount        592 non-null    float64
 5   Loan_Amount_Term  600 non-null    float64
 6   Loan_Status       614 non-null    object
dtypes: float64(2), int64(1), object(4)
memory usage: 33.7+ KB
None

# Null Values
The info() method also tells us how many Non-Null values there are present in each column, and in our data set it seems like there are 164 of 169 Non-Null values in the "Calories" column.

Which means that there are 5 rows with no value at all, in the "Calories" column, for whatever reason.

Empty values, or Null values, can be bad when analyzing data, and you should consider removing rows with empty values. This is a step towards what is called cleaning data, and you will learn more about that in the next chapters.